.footer {
    position: relative;
    width: 100%;
    background: #181818;
    margin-top: 15rem;
    padding-top: 7.5rem;
    padding-bottom: 1.5rem;
    color: white;
}

.footer_wrap {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_left_side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer_description {
    margin-top: 1rem;
    font-size: .8rem;
    opacity: .75;
    max-width: 420px;
    color: white;
}

.footer_right_side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 5rem;
}

.footer_right_side h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer ul li {
    margin-bottom: .725rem;    
}

.footer_right_side ul li a {
    opacity: .5;
    font-size: .8rem;
    font-weight: 300;
    color: white;
    transition: .18s ease-in;
}

.footer_right_side ul li a:hover {
    opacity: 1;
}

.footer_right_side ul li a:last-child{
    margin-bottom: 0;
}

.contact_li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.contact_li p {
    color: white;
    font-size: .8rem;
    opacity: .5;
    font-weight: 300;
}

.follow_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
}