.footer {
    position: relative;
    width: 100%;
    background: #181818;
    margin-top: 15rem;
    padding-top: 7.5rem;
    padding-bottom: 1.5rem;
    color: white;
    padding-inline: 1rem;
}

.footer_wrap {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_left_side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer_description {
    margin-top: 1rem;
    font-size: .8rem;
    opacity: .75;
    max-width: 420px;
    color: white;
}

.footer_right_side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 5rem;
}

.footer_right_side h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer ul li {
    margin-bottom: .725rem;    
}

.footer_right_side ul li a {
    opacity: .5;
    font-size: .8rem;
    font-weight: 300;
    color: white;
    transition: .18s ease-in;
}

.footer_right_side ul li a:hover {
    opacity: 1;
}

.footer_right_side ul li a:last-child{
    margin-bottom: 0;
}

.contact_li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.contact_li p {
    color: white;
    font-size: .8rem;
    opacity: .5;
    font-weight: 300;
}

.follow_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.5rem;
}

@media only screen and (max-width: 1050px) {
    .footer_description {
        max-width: 270px;
        padding-right: 1.125rem;
    }
}

@media only screen and (max-width: 850px) {
    .footer_right_side {
        gap: 2.725rem;
        justify-content: space-between;
        width: 100%;
    }
    .footer_wrap {
        flex-direction: column;
        gap: 3rem;
    }
    .footer_description {
        max-width: 540px;
        padding-right: 1.125rem;
    }
}

@media only screen and (max-width: 530px) {
    .footer_right_side {
        justify-content: flex-start;
        flex-direction: column;
    }
    .follow_wrap {
        gap: 1rem;
    }
}



/* NEWSLETTER */

.newsletter {
    padding: 2.5rem;
    position: absolute;
    top: -150px;
    border-radius: 12px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 5;
    max-width: 875px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
}

.newsletter h4 {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--dark-primary-color);
    margin-bottom: 1.5rem;
}

.newsletter form {
    max-width: 425px;
    width: 100%;
}

.newsletter_div {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter_email {
    width: 100%;
    padding-left: 2.125rem;
    outline: none;
    border: none;
}

.newsletter_submit {
    padding: .325rem .625rem;
    background: var(--primary-color);
    font-size: .675rem;
    font-size: 500;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.newsletter_envelope {
    color: #1727A2;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
}

@media only screen and (max-width: 1200px) {
    .newsletter{
        max-width: 600px;
    }
}

@media only screen and (max-width: 640px) {
    .newsletter {
        max-width: 350px;
        padding: 1.75rem;
        top: -120px;
    }
    .newsletter h4 {
        font-size: 2rem;
        text-align: center;
        line-height: 1.2em;
    }
}

@media only screen and (max-width: 370px) {
    .newsletter {
        width: 320px;
    }
}



.footer_bottom {
    margin-top: 5rem;
    border-top: 1px solid white;
}

.footer_bottom_wrap {
    width: 100%;
    padding-top: 1.5rem;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom_left ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    flex-direction: row;
}

.footer_bottom_left ul li a {
    color: white;
    opacity: .5;
    font-size: .8rem;
    transition: .12s ease-in;
    font-weight: 300;
}

.footer_bottom_left ul li a:hover {
    opacity: 1;
}

.footer_bottom_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.footer_copy {
    font-size: .8rem;
    opacity: .5;
    font-weight: 300;
}

.footer_bottom_right a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}