.heading h2 {
    font-weight: 500;
    margin-bottom: .725rem;
}

.heading p {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
}

@media only screen and (max-width: 800px) {
    .heading p {
        font-size: .85rem;
        line-height: 1.66em;
    }
}